.shabnam {
    font-family: 'Shabnam' !important;
}

.vazir {
    font-family: 'Vazir' !important;
}

.bg-green-1 {
    background-color: #006912 !important;
}

.bg-green-2 {
    background-color: #008116 !important;
}

.bg-green-3 {
    background-color: #01b11e !important;
}

.bg-blue-1 {
    background-color: #0069b3 !important;
}

.bg-blue-2 {
    background-color: #00a3e0 !important;
}

.bg-blue-3 {
    background-color: #00c5f5 !important;
}

.bg-brown-1 {
    background-color: #8c6d1b !important;
}

.bg-brown-2 {
    background-color: #a08a1b !important;
}

.bg-brown-3 {
    background-color: #b29a1b !important;
}

.bg-orange-1 {
    background-color: #ff6d00 !important;
}

.bg-orange-2 {
    background-color: #ff8d00 !important;
}

.bg-orange-3 {
    background-color: #ffa500 !important;
}

.white-text {
    color: #fff !important;
}